<div class="ratio ratio-16x9">
  <iframe
    [src]="movieService.embedTrailerLink()"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
<!-- 
<div class="ratio ratio-16x9">
    <iframe
        [src]="movieService.embedTrailerLink()"
        [title]="selectedMovie()?.title"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>
</div>
       -->
