<div class="review-container">
  <div>
    <img
      class="trailer-img img-fluid"
      src="https://fastly.picsum.photos/id/83/900/500.jpg?hmac=GqF7vyG6k9GYtvZaqyZwgcq0SIZ7wyuutE02SdubYwU"
    />
  </div>
  <div>
    <form>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="comments"
        ></textarea>
        <label for="comments">Comments</label>
      </div>
      <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
    </form>

    <div class="mt-3 text-white">
      <p>Test 1</p>
      <p>Test 2</p>
    </div>
  </div>
</div>
